.colorprincipal{
    background-color: blue;
}
.btn-primary{
    background-color: rgb(212, 198, 0) !important;
    border-color: azure !important;
}
.btn-primary:hover{
    background-color: blue !important;
    border-color: azure !important;
}
.fondo{
    background-image: url("./img/fondo.png");
    background-position: top center ;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}

.fondo{
    background-image: url("./img/fondo2.png");
    background-position: top center ;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}